
footer.page-footer {
margin-top: 0px;
padding-top: 0px;
background-color: #ee6e73;
}

nav .brand-logo {
  margin-left:10px;
}
nav ul{
  margin-right:10px;
}

.section{
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
}

.section{
  margin-top: 25px;
  margin-bottom:25px;
  padding-top:25px;
  padding-bottom:25px;
  background-color: #ee6e73;
}

.section ul{
  margin-left: 25px;
  margin-right: 25px;
  line-height: 30px;
}
.section h5{
  padding-left: 25px;
  background-color: #ee6e73;
}
.section ul li a{
  color: #fff;
}

.btn, .btn:hover, .btn-large:hover {
background-color: #ee6e73;
}
